<nav>
    <ul>
        <li class="active">What is Logical CSS?</li>
        <li>Why OrganiCSS?</li>
        <li>Getting Started</li>
        <li>Mixins

            <ul>
                <li>Border</li>
                <li>Border Radius</li>
                <li>Layout</li>
                <li>Margin</li>
                <li>Padding</li>
                <li>Position</li>
            </ul>
        </li>
    </ul>
    <section>

        <a
            href="https://github.com/organicss/organicss"
            title="View OrganiCSS on Github"
            rel="noopener noreferrer" target="_blank"
        >
            {% include '../assets/icons/icon-github.svg' %}
            <span class="visually-hidden">Link opens in a new window.</span>
        </a>
        <a
            href="https://twitter.com/DanielYuschick"
            title="Visit Daniel Yuschick on Twitter"
            rel="noopener noreferrer" target="_blank"
        >
            {% include '../assets/icons/icon-twitter.svg' %}
            <span class="visually-hidden">Link opens in a new window.</span>
        </a>

    </section>
</nav>