<!DOCTYPE html>
<html lang="en-US">
    <head>
        {% include 'layout/meta.njk' %}

        <link rel="shortcut icon" type="image/svg" href="/assets/icons/icon-organicss-24.svg" />
        <title>{{ title }} | OrganiCSS</title>

        <link rel="stylesheet" href="/styles/index.css" />
        {% if title === "Home" %}
        <link rel="stylesheet" href="/styles/pages/index.css" />
        {% endif %}
    </head>
    <body>
        <div id="root">
            {% include 'layout/header.njk' %}
            <main id="main-content">{{ content | safe }}</main>
            {% include 'layout/footer.njk' %}
        </div>
    </body>
</html>
