<!DOCTYPE html>
<html lang="en-US">
    <head>
        {% include 'meta.njk' %}

        <link rel=rel="icon" type="image/png" href="/assets/icons/organicss-logo-icon.png" />
        <title>{{ title }} | OrganiCSS</title>
        <link rel="stylesheet" href="/styles/index.css" />
    </head>
    <body>
        <div id="root">
            <main id="main-content">{{ content | safe }}</main>
            {% include 'footer.njk' %}
        </div>
    </body>
</html>
