<!DOCTYPE html>
<html lang="en-US">
    <head>
        {% include 'meta.njk' %}

        <link rel="shortcut icon" type="image/svg" href="/assets/icon-organicss.svg"/>

        <title>OrganiCSS | Home</title>
        <link rel="stylesheet" href="/styles/main.css"/>
    </head>
    <body>
        <main>{{ content | safe }}</main>
    </body>
</html>