<article>
    <h2>What is Logical CSS?</h2>

    <p>Labore aliquip ipsum officia amet magna sunt minim incididunt elit ullamco exercitation.Ad velit minim reprehenderit reprehenderit et consequat voluptate excepteur amet mollit occaecat.</p>
    <p>Et consequat voluptate excepteur amet mollit occaecat. Et consequat voluptate excepteur amet mollit occaecat.</p>
    <p>Labore aliquip ipsum officia amet magna sunt minim incididunt elit ullamco exercitation.Ad velit minim reprehenderit mollit occaecat.</p>
</article>