#content-container {
    @include padding($block: var(--o-space-base-4x), $inline: var(--o-space-base-6x));
    align-content: start;
    align-items: start;
    display: grid;
    gap: var(--o-space-base-6x);
    grid-template-columns: 1fr 5fr;
}

h2 {
    @include border($blockEnd: 3px solid var(--o-color-primary));
    @include margin($inlineEnd: calc(var(--o-space-base-6x) * -1));
    @include padding($inlineEnd: var(--o-space-base-6x));
}

a,
a:active,
a:link,
a:visited {
    color: var(--o-color-primary);
}
