nav {
    @include position($inlineStart: 0, $blockStart: 0);
    position: sticky;

    ul {
        list-style: none;
    }

    li {
        &.active {
            align-content: center;
            display: grid;
            font-weight: 600;
            gap: var(--o-space-base-2x);
            grid-template-columns: min-content auto;

            &:before {
                content: url('../../assets/icons/icon-arrow-right.svg');
            }
        }
    }

    section {
        @include padding($blockStart: var(--o-space-base-4x));
        @include flex-base();
        gap: var(--o-space-base-4x);
    }

    a,
    a:active,
    a:visited,
    a:link {
        color: var(--o-color-aux-100);
        text-decoration: none;
    }
    a:hover {
        color: var(--o-color-aux-300);
    }
}
