{%- from 'macros/_link.njk' import link %}

<header>
    {{
        link({
            url: '#main-content',
            content: 'Skip to main content',
            class: 'visually-hidden'
        })
    }}

    <a class="link--logo" href="/" title="OrganiCSS Home">{% include '../../assets/icons/logo-organicss.svg' %}</a>
</header>