{%- from 'macros/_link.njk' import link %}

<header>
    {% if headerVariant === 'subpage' %}
        <a
            class="header--logo"
            href="/"
            title="OrganiCSS - Home"
        >
            {% include '../../assets/icons/logo-organicss.svg' %}
        </a>
    {% else %}
        <p>
            {{
                link({
                    url: '#main-content',
                    content: 'Skip to main content',
                    class: 'visually-hidden'
                })
            }}
        </p>
    {% endif %}
    

    <section class="header--nav-wrapper">
        {% if headerVariant === 'home' %}
        <nav>
            {{
                link({
                    url: '#getting-started',
                    content: 'Get Started'
                })
            }}
            {{
                link({
                    url: '/docs',
                    content: 'Docs'
                })
            }}
        </nav>
        {% endif %}
        <a
            href="https://github.com/organicss/organicss"
            title="View OrganiCSS on Github"
            rel="noopener noreferrer" target="_blank"
        >
            {% include '../../assets/icons/icon-github.svg' %}
            <span class="visually-hidden">Link opens in a new window.</span>
        </a>
        <a
            href="https://twitter.com/DanielYuschick"
            title="Visit Daniel Yuschick on Twitter"
            rel="noopener noreferrer" target="_blank"
        >
            {% include '../../assets/icons/icon-twitter.svg' %}
            <span class="visually-hidden">Link opens in a new window.</span>
        </a>
    </section>
</header>