<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta name="theme-color" content="#A30034"/>
<meta name="description" content="OrganiCSS is a collection of mixins for writing logical CSS in different pre-processors and libraries."/>
<meta name="generator" content="{{ eleventy.generator }}"/>

<meta name="twitter:card" content="summary"/>
<meta name="twitter:site" content="@danielyuschick"/>
<meta name="twitter:creator" content="@danielyuschick"/>
<meta property="og:url" content="https://www.organicss.style{{ page.url }}"/>
<meta property="og:title" content="{{ title }} | OrganiCSS"/>
<meta property="og:description" content="OrganiCSS is a collection of mixins for writing logical CSS in different pre-processors and libraries."/>
<meta property="og:image" content="https://www.organicss.style/assets/images/organicss-repo-opengraph-tagline.jpg"/>
<meta property="og:type" content="website"/>