---
title: Home
layout: page.njk
description: OrganiCSS is a collection of mixins for writing logical CSS in different pre-processors and libraries.
headerVariant: home
---

<section class="section--hero">
    <div class="section--content-container">
        {% include './assets/icons/icon-organicss.svg' %}
        <h1>OrganiCSS</h1>
        <p>Logical CSS. Naturally.</p>
    </div>

</section>

<section class="section--hero-alt">
    <h2>Why OrganiCSS?</h2>

</section>

<section class="section--hero">
    <h2>Getting Started?</h2>


</section>