---
title: Home
layout: page.njk
description: OrganiCSS is a collection of mixins for writing logical CSS in different pre-processors and libraries.
---
<h1 class="visually-hidden">OrganiCSS</h1>

<main id="main-content">
    {% include 'docs/what-is-logical-css.njk' %}
    {% include 'docs/why-organicss.njk' %}
    {% include 'docs/getting-started.njk' %}
    {% include 'docs/mixins.njk' %}

    {% include 'docs/mixins/border.njk' %}
    {% include 'docs/mixins/border-radius.njk' %}
</main>